In [1]:
from utils import *

In [2]:
forecast = pd.read_csv("data/test_forecast_long.csv")
forecast = forecast[forecast['ds'] >= '2021-01-04']
forecast["timestamp"] = forecast["ds"]

cutoff_ts = forecast['ds'].min()

forecast

                        ds       yhat            timestamp
72     2021-01-04 00:00:00  24.568160  2021-01-04 00:00:00
73     2021-01-04 01:00:00  23.393322  2021-01-04 01:00:00
74     2021-01-04 02:00:00  21.921172  2021-01-04 02:00:00
75     2021-01-04 03:00:00  21.076043  2021-01-04 03:00:00
76     2021-01-04 04:00:00  22.434293  2021-01-04 04:00:00
...                    ...        ...                  ...
17515  2022-12-31 19:00:00  53.420872  2022-12-31 19:00:00
17516  2022-12-31 20:00:00  50.855014  2022-12-31 20:00:00
17517  2022-12-31 21:00:00  46.182950  2022-12-31 21:00:00
17518  2022-12-31 22:00:00  41.473853  2022-12-31 22:00:00
17519  2022-12-31 23:00:00  38.098186  2022-12-31 23:00:00

[17448 rows x 3 columns]

In [3]:
# Fetch forwards data for the same date range as the forecast
forwards = get_forwards(
    timestamp=cutoff_ts,
    start=forecast["timestamp"].min(),
    end=forecast["timestamp"].max()
)

forwards

/Users/adrianscholl/LRZ Sync+Share/Projects/price-forward-curve/utils.py:37: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  forwards['TimeStamp'] = pd.to_datetime(forwards['TimeStamp'], errors='coerce')
/Users/adrianscholl/LRZ Sync+Share/Projects/price-forward-curve/utils.py:38: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  forwards['Begin'] = pd.to_datetime(forwards['Begin'], errors='coerce')
/Users/adrianscholl/LRZ Sync+Share/Projects/price-forward-curve/utils.py:39: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  forwards['End'] = pd.to_datetime(forwards['End'], errors='coerce')

,Identifier,TimeStamp,Begin,End,Open,High,Low,Close,Settlement
21781,D,2021-01-04 00:00:00+01:00,2021-01-04 00:00:00+01:00,2021-01-05 00:00:00+01:00,NaN,NaN,NaN,NaN,48.02
33182,W,2021-01-04 00:00:00+01:00,2021-01-04 00:00:00+01:00,2021-01-11 00:00:00+01:00,NaN,NaN,NaN,NaN,57.70
21782,D,2021-01-04 00:00:00+01:00,2021-01-05 00:00:00+01:00,2021-01-06 00:00:00+01:00,54.50,54.50,53.50,54.00,55.34
21783,D,2021-01-04 00:00:00+01:00,2021-01-06 00:00:00+01:00,2021-01-07 00:00:00+01:00,58.00,58.00,54.00,54.00,56.03
21784,D,2021-01-04 00:00:00+01:00,2021-01-07 00:00:00+01:00,2021-01-08 00:00:00+01:00,69.25,69.25,68.00,68.00,69.25
21785,D,2021-01-04 00:00:00+01:00,2021-01-08 00:00:00+01:00,2021-01-09 00:00:00+01:00,69.50,69.50,69.50,69.50,71.38
1,WE,2021-01-04 00:00:00+01:00,2021-01-09 00:00:00+01:00,2021-01-11 00:00:00+01:00,51.00,52.25,51.00,52.00,51.95
21786,D,2021-01-04 00:00:00+01:00,2021-01-09 00:00:00+01:00,2021-01-10 00:00:00+01:00,NaN,NaN,NaN,NaN,55.31
21787,D,2021-01-04 00:00:00+01:00,2021-01-10 00:00:00+01:00,2021-01-11 00:00:00+01:00,NaN,NaN,NaN,NaN,48.59
33183,W,2021-01-04 00:00:00+01:00,2021-01-11 00:00:00+01:00,2021-01-18 00:00:00+01:00,50.50,53.05,50.50,52.30,52.70
33184,W,2021-01-04 00:00:00+01:00,2021-01-18 00:00:00+01:00,2021-01-25 00:00:00+01:00,52.50,52.50,51.50,51.50,51.10
33185,W,2021-01-04 00:00:00+01:00,2021-01-25 00:00:00+01:00,2021-02-01 00:00:00+01:00,54.75,55.00,53.45,53.45,53.49
33186,W,2021-01-04 00:00:00+01:00,2021-02-01 00:00:00+01:00,2021-02-08 00:00:00+01:00,NaN,NaN,NaN,NaN,53.97
2021,M,2021-01-04 00:00:00+01:00,2021-02-01 00:00:00+01:00,2021-03-01 00:00:00+01:00,52.30,54.40,52.30,52.45,52.72
2022,M,2021-01-04 00:00:00+01:00,2021-03-01 00:00:00+01:00,2021-04-01 00:00:00+02:00,45.50,48.25,45.50,47.85,47.75
2023,M,2021-01-04 00:00:00+01:00,2021-04-01 00:00:00+02:00,2021-05-01 00:00:00+02:00,44.00,45.10,44.00,44.95,45.06
11682,Q,2021-01-04 00:00:00+01:00,2021-04-01 00:00:00+02:00,2021-07-01 00:00:00+02:00,43.00,45.40,43.00,44.70,44.89
2024,M,2021-01-04 00:00:00+01:00,2021-05-01 00:00:00+02:00,2021-06-01 00:00:00+02:00,NaN,NaN,NaN,NaN,43.27
2025,M,2021-01-04 00:00:00+01:00,2021-06-01 00:00:00+02:00,2021-07-01 00:00:00+02:00,NaN,NaN,NaN,NaN,46.39
11683,Q,2021-01-04 00:00:00+01:00,2021-07-01 00:00:00+02:00,2021-10-01 00:00:00+02:00,47.65,48.15,47.60,47.60,47.67
2026,M,2021-01-04 00:00:00+01:00,2021-07-01 00:00:00+02:00,2021-08-01 00:00:00+02:00,NaN,NaN,NaN,NaN,46.81
2027,M,2021-01-04 00:00:00+01:00,2021-08-01 00:00:00+02:00,2021-09-01 00:00:00+02:00,NaN,NaN,NaN,NaN,45.18
2028,M,2021-01-04 00:00:00+01:00,2021-09-01 00:00:00+02:00,2021-10-01 00:00:00+02:00,NaN,NaN,NaN,NaN,51.12
2029,M,2021-01-04 00:00:00+01:00,2021-10-01 00:00:00+02:00,2021-11-01 00:00:00+01:00,NaN,NaN,NaN,NaN,49.55
11684,Q,2021-01-04 00:00:00+01:00,2021-10-01 00:00:00+02:00,2022-01-01 00:00:00+01:00,52.30,52.30,52.05,52.05,51.92
37964,Y,2021-01-04 00:00:00+01:00,2022-01-01 00:00:00+01:00,2023-01-01 00:00:00+01:00,51.15,51.45,50.65,50.75,50.92
11685,Q,2021-01-04 00:00:00+01:00,2022-01-01 00:00:00+01:00,2022-04-01 00:00:00+02:00,54.65,54.65,54.65,54.65,54.60
11686,Q,2021-01-04 00:00:00+01:00,2022-04-01 00:00:00+02:00,2022-07-01 00:00:00+02:00,NaN,NaN,NaN,NaN,46.59
11687,Q,2021-01-04 00:00:00+01:00,2022-07-01 00:00:00+02:00,2022-10-01 00:00:00+02:00,NaN,NaN,NaN,NaN,48.78
11688,Q,2021-01-04 00:00:00+01:00,2022-10-01 00:00:00+02:00,2023-01-01 00:00:00+01:00,NaN,NaN,NaN,NaN,53.74

In [4]:
t, F = partition_forwards(forwards, pd.to_datetime(cutoff_ts, utc=True)-pd.Timedelta(1, 'h'))

In [5]:
# Construct matrices
H = construct_H(t)

In [6]:
s_t = np.array(forecast["yhat"])
A, b = construct_A_and_b(t, F, s_t)

A.shape, b.shape

0 24
0 168
24 48
48 72
72 96
96 120
120 168
120 144
144 168
168 336
336 504
504 672
672 840
672 1344
1344 2087
2087 2807
2087 4271
2807 3551
3551 4271
4271 6479
4271 5015
5015 5759
5759 6479
6479 7224
6479 8688
8688 17448
8688 10847
10847 13031
13031 15239
15239 17448

((103, 125), (103,))

In [7]:
n = len(t)-1
m = len(F)

3*(n-1)+1+m

103

In [8]:
# Solve the system
x, lam = solve_linear_system(H, A, b)

# Results
print("Solution x:", x)
print("Lagrange multipliers Î»:", lam)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()